<div class="row productListing">
  <div *ngFor="let riderGear of rideGear" class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <a href="#"><img height="100" src="{{riderGear.prodImage}}" alt="City Rider - Leather"></a>
      <div class="caption">
        <h3><a class="prodname" href="#">{{riderGear.prodName}}</a></h3>
        <p>{{riderGear.price}}</p>
        <p class="desc">{{riderGear.proddesc}}</p>
        <p><a href="#" class="btn btn-primary {{riderGear.avail}}" role="button">Add <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a> </p>
      </div>
    </div>
  </div>

</div>
