<div class="asideCart">
	<h2>Cart <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></h2>
	<ul>
		<li>
			<div class="row">
				<div class="col-xs-9">
					<a href="#">
						CITY RIDING GLOVES
						<span>1 x Rs. 2,499</span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#"><img height="50" width="50" src="https://cdn.shopify.com/s/files/1/0660/7355/products/LG03-Brown-0985_large.jpg" alt=""></a>
				</div>
			</div>
		</li>

		<li>
			<div class="row">
				<div class="col-xs-9">
					<a href="#">
						CITY RIDING GLOVES
						<span>1 x Rs. 2,499</span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#"><img height="50" width="50" src="https://cdn.shopify.com/s/files/1/0660/7355/products/LG03-Brown-0985_large.jpg" alt=""></a>
				</div>
			</div>
		</li>

		<li>
			<div class="row">
				<div class="col-xs-9">
					<a href="#">
						CITY RIDING GLOVES
						<span>1 x Rs. 2,499</span>
					</a>
				</div>
				<div class="col-xs-3">
					<a href="#"><img height="50" width="50" src="https://cdn.shopify.com/s/files/1/0660/7355/products/LG03-Brown-0985_large.jpg" alt=""></a>
				</div>
			</div>
		</li>

	</ul>
	<div class="">
		<a href="#" class="btn btn-primary">View Cart</a>
		<a href="#" class="btn btn-primary">Check Out</a>
	</div>
</div>
